{% extends 'base.html.twig' %}

{% block title %}Hello DemoController!{% endblock %}

{% block body %}

<div hx-target="this" hx-swap="outerHTML">
<div>DEMO 1</div>
<button hx-get="/demo2">
Click To Edit
</button>
</div>
{% endblock %}
